/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 1rem 0;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

/* Estilos para los botones en la p치gina principal */
.button-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.menu-button {
    background-color: #f1f1f1;
    border: 2px solid #4CAF50;
    border-radius: 8px;
    padding: 20px;
    cursor: pointer;
    text-align: center;
    width: 150px;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.menu-button img {
    max-width: 100%;
    max-height: 80px;
    background-color: transparent; /* Asegurar que la imagen tenga fondo transparente */
}

.menu-button span {
    margin-top: 10px;
}

.menu-button:hover {
    background-color: #ddd;
}

/* Estilos para los formularios en las subp치ginas */
.subpagina-form {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}

/* Alinear el label con su campo */
.subpagina-form label {
    display: inline-block;
    margin-bottom: 5px;
    font-weight: bold;
}

.subpagina-form input[type="text"],
.subpagina-form input[type="number"],
.subpagina-form input[type="date"],
.subpagina-form select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

/* Ajuste de espaciado entre el label y el campo */
.subpagina-form label {
    margin-right: 10px;
}

/* Ajustar la separaci칩n entre campos */
.subpagina-form input,
.subpagina-form select {
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 8px;
}

/* Estilo para el contenedor de botones */
.button-container-subpagina {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.subpagina-form button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    font-size: 16px;
    width: 100px;
    height: 40px;
}

.subpagina-form button:hover {
    background-color: #45a049;
}

/* Alinear los botones "Guardar" y "Limpiar" */
#guardarBtn {
    margin-right: auto;
}

#limpiarBtn {
    margin-left: auto;
}

/* Media queries para dispositivos m칩viles */
@media (max-width: 600px) {
    main {
        flex-direction: column;
        padding: 10px;
    }

    .button-container {
        flex-direction: column;
        gap: 10px;
    }

    .menu-button {
        width: 100%;
        height: auto;
        padding: 10px;
    }

    .menu-button img {
        max-height: 50px;
    }

    .menu-button span {
        margin-top: 5px;
    }
}
